.container {
    /* height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 120px;
}

.product-card-wrapper{
    background-color: #000;
    min-height: fit-content;
    height: fit-content;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.product-card{
    margin: 1rem;
    width: 250px;
    height: 420px;
    background-color: rgb(195, 204, 211);
    padding: 0.5rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 7px 10px #000;
}

.product-card-header{
    background-color: transparent;
    height: 50%;
    width: 95%;
    border-bottom: 0.5px solid #838282;
    padding: 0.5rem;
    margin: 0.5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImg{
    height: 150px;
    width: 150px;
}

.product-card-body{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

}

.product-details{
    list-style: none;
    /* border-bottom: 1px solid #838282; */
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: #212121;
    font-size: 1.1rem;
}

.product-card:hover{
    transition: 0.8s;
    transform: translateY(-5%);
}