@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:wght@300&display=swap');

.navBar{
    background: transparent;
    height: 10vh;
    width: 100%;
    border-bottom: 0.5px solid rgb(179, 175, 175);
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding: 1rem;
    position: absolute;
}
.brand{
    color: aliceblue;
    font-size: 2rem;
    border: 2px solid aliceblue;
    padding: 10px;
}
.navbar-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.navList{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.navLink{
    margin-inline: 25px;
    color:aliceblue;
    font-size: 1.2rem;
}
.navLink:hover{
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid aliceblue;
    color: aliceblue;
}