@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:wght@300&display=swap');

.navBar {
    background: transparent;
    height: 15vh;
    width: 100%;
    border-bottom: 0.5px solid rgb(179, 175, 175);
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 1s;
}

.scrolled{
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.434);
}

.brand {
    color: aliceblue;
    font-size: 2rem;
    border: 2px solid aliceblue;
    padding: 10px;
}

.navbar-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}



.navLink {
    margin-inline: 25px;
    color: aliceblue;
    font-size: 1.2rem;
}

.navLink:hover {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid aliceblue;
    color: aliceblue;
}