@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:wght@300&display=swap');

.navBar{
    height: 80px;
    border: 3px solid #000;
    box-shadow: 10px 10px 20px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding: 1rem;
}
.brand{
    color: aliceblue;
    font-size: 2rem;
    border: 2px solid aliceblue;
    padding: 12px;
}
.navbar-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navLink{
    margin-inline: 25px;
    color:aliceblue;
    font-size: 1.2rem;
}
.navLink:hover{
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid aliceblue;
    color: aliceblue;
}