.update-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:55px;
}

.update-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161922;
    border-radius: 20px;
}

.update-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-heading {
    color: #f0f8ff;
   padding: 0.5rem; 
}

.update-card-body {
    margin: 0 100px;
}

.update-input {
    /* background-color: transparent; */
    width: 350px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #fff;
    /* color: #fff; */
    border-radius: 10px;
}

.err-msg {
    color: #ff0000;
}

.update-btn {
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    background-color: transparent;
    color: #f0f8ff;
    border: 1px solid #f0f8ff;
}

.update-btn:hover,
.update-btn:focus {
    background-color: #f0f8ff;
    color: #161922;
    box-shadow: 3px 2px 10px #000;
}