.footer-bg{
    /* background-color: rgba(0, 0, 0, 0.753); */
    background-color: rgb(22, 25, 34);
     color: antiquewhite;
     width: 100%;
}
.footer{
 display: flex;
 justify-content: center;
 align-items: flex-start;
 margin: auto;
 padding-top: 5%;
 padding-bottom: 3%;
 width: 80%;
}
.footerHeader{
    color: #6a6b6a;
}
.col-one{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.col-two{
    width: 15%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.col-three{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.col-four{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footerBody{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 15px;
}
.footerBody .footerLink{
    text-decoration: none;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fb-icon, .li-icon{
    border: 1px solid #fff;
    padding: 15px;
    margin-right: 10px;
}
.fb-icon:hover, .li-icon:hover{
    border: 1px solid #000;
    background-color: white;
    color: #000 ;
}
