.productpage {
    height: 100vh;
    width: 100%;
}

.product-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-family: 'Montserrat',sans-serif;
}
.product-heading{
    margin: 0;
    font-size: 5rem;
}