.login-container{
    height: 92vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(174, 49, 49, 0.473);

}

.login-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-heading{
    color:aliceblue;
}

.login-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-input{
    width: 350px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    /* border-radius: 10px; */
}

.err-msg{
    color: #ff0000;
}

.login-btn{
    width: fit-content;
    padding:0.5rem  1rem;
    margin: 0.5rem;
    border-radius: 10px;
    background-color: rgba(128, 126, 126, 0.473);
    color: aliceblue;
}

.login-btn:disabled:hover{
    margin-left: 250px;
 }