.copyright{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0,0.9);
    color: #6b6a6a;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight:bolder;
    padding: 1.5% 10% 1.5% 15%;
    border-top: 1px solid #6b6a6a;
}
.copyright-text{
    margin: 0;
}